/* GLOBAL */

html {
	height: 100%;
}

BODY {
	font-family: 'Aller', sans-serif; 
	background: #ebe7df; 
	margin: 0; 
	padding: 0; 
	height: 100%;
}

H1, H2, H3 {
	font-family: 'Aller Light', Helvetica, Arial sans-serif; 
	font-weight: 100;
}

H2 {
	font-size: 40px;
}

H3 {
	font-size: 25px;
}

TABLE {
	margin: 0;
}

UL {
	margin: 0;
	padding: 0;
}

UL LI {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

IMG.icon {
	border: outset gray 3px; padding: 0;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

A {
	color: #242424;
}


/* END GLOBAL */

.wrapper {
	width: 100%;
}

.wrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/* ====HEADER==== */

header {
	height: 45px;
	width: 100%;
	background: #14202e;
	color: #7e7e7e;
	position: relative;
	z-index: 100;
}

.logo {
	position: absolute;
	left: 0;
	top: 12px;
}

.loginandsearch {
	position: absolute;
	right: 0;
	height: 100%;
	line-height: 45px;
	font-size: 12px;
}

.loginandsearch_search {
	display: inline-block;
	text-align: center;
	width: 45px;
	height: 38px;
	padding-top: 7px;
	vertical-align: middle;
}

.loginandsearch_search:hover svg {
	fill: #57c5a0;
	transform: scale(.6, .6);
}

.loginandsearch_login {
	display: inline-block;
	height: 45px;
	color: #7e7e7e;
	font-style: 11px;
	text-decoration: none;
	border-right: 1px solid #383838;
	border-left: 1px solid #383838;
	padding: 0 24px;
}

/* ====END HEADER==== */

/* ====MENU==== */

menu {
	background: #fff;
	height: 60px;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

menu .menu {
	height: 60px;
	position: relative;
	font-size: 16px;
	color: #242424;
	overflow: hidden;
	clear: both;
}

menu .menu li {
	display: block;
	overflow: hidden;
	margin: 0;
	float: left;
}

menu .menu li:first-child a {
	border-left: 1px solid #eee;
}

menu .menu li a {
	display: block;
	padding: 0 23px;
	height: 60px;
	border-right: 1px solid #eee;
	vertical-align: middle;
	line-height: 60px;
	text-decoration: none;
	color: #242424;
	transition: background .2s;
}
menu .menu li a:hover {
	background: rgba(225, 225, 225, .3);
}

.FavAndCart {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	clear: both;
}

.FavAndCart .b_fav, 
.FavAndCart .b_cart {
	display: block;
	padding: 0 23px;
	height: 60px;
	border-right: 1px solid #eee;
	vertical-align: middle;
	line-height: 60px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	float: left;
	text-decoration: none;
}

.FavAndCart .b_fav {
	border-left: 1px solid #eee;
}

.FavAndCart .b_fav .fav_count, 
.FavAndCart .b_cart .cart_count {
	background-color: #adadad;
	padding: 1px 4px; 
	border-radius: 2px;
}

.FavAndCart .fav_icon {
	display: block;
	float: left;
	width: 32px;
	height: 47px;
	padding-top: 13px;
}

.FavAndCart .cart_icon {
	display: block;
	float: left;
	width: 32px;
	height: 44px;
	padding-top: 16px;
}


.FavAndCart a:hover {
	background: rgba(225, 225, 225, .3);
}

.FavAndCart a:hover svg {
	fill: #57c5a0;
	transform: scale(.6, .6);
}

.FavAndCart .b_cart .cart_count {
	background-color: #57c5a0;
}

/* ====END MENU==== */

/* ====TOP==== */

.top {
	height: 550px;
	background-color: #f0ede9;
	position: relative;
	z-index: 90;
}

.top_slide {
	height: 460px;
}

.top_details {
	width: 360px;
	position: absolute;
	top: 40px;
	right: 40px;
}

.top_price {
	background-color: #57c5a0;
	color: #fff;
	width: 68px;
	height: 68px;
	font-weight: 700;
	font-size: 13px;
	line-height: 68px;
	text-align: center;
}

.top_slide-bg {
	position: absolute;
	bottom: 0;
	left: -200px;
}

.top_details h2 {
	margin: 10px 0;
}

.top_details p {
	font-size: 20px;
	line-height: 25px;
	font-weight: 100;
	font-family: "Aller Light", sans-serif;
	font-weight: 100;
}

.top_controls ul {
	position: relative;
	overflow: hidden;
	clear: both;
}

.top_controls ul li {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 4px;
}

.top_controls ul a {
	display: block;
	height: 40px;
	background: #fff;
}

.top_controls li a:hover svg {
	fill: #57c5a0;
	transform: scale(.6, .6);
}

.top_controls .b_view {padding-top: 10px;}
.top_controls .b_wishlist {padding-top: 4px;}
.top_controls .b_share {padding-top: 7px;}
.top_controls .b_buy {padding-top: 5px;}

/* ====END TOP==== */

/* ====TOP_NAV==== */

.top_nav {
	height: 90px;
	background: #2e2e2e;
	position: relative;
	overflow: hidden;
}

.top_nav_item {
	display: block;
	width: 20%;
	overflow: hidden;
	opacity: .5;
	padding-top: 6px;
	float: left;
	text-decoration: none;
	transition: opacity .2s;
}

.top_nav_item span {
	display: block;
	height: 6px;
	background: #000;
	border: 2px solid #000;
	margin-bottom: 17px;
	text-align: center;
}

.top_nav_item span i {
	display: block;
	height: 100%;
	width: 90%;
	margin: 0 auto;
	background: #57c5a0;
}

.top_nav_item h3, 
.top_nav_item p {
	font-weight: 400;
	margin: 0;
	width: 100%;
	text-align: center;
}

.top_nav_item h3 {
	font-size: 18px;
	color: #fff;
}

.top_nav_item p {
	font-size: 12px;
	color: #adadad;
}

.top_nav_item-selected {
	opacity: 1;
}

.top_nav_item:hover {
	opacity: 1;
}

/* ====END TOP_NAV==== */

/* ====SPECIALS==== */

.specials {
	overflow: hidden;
	background-color: #242424;
	padding: 25px 0;
}

.specials_item {
	float: left;
	width: 300px;
	height: 180px;
	margin-left: 20px;
	position: relative;
	z-index: 90;
	overflow: hidden;
	text-align: center;
	display: block;
}

.specials_item:first-child {
	margin: 0;
}

.specials_item h3 {
	position: relative;
	display: inline-block;
	z-index: 100;
	color: #fff;
	background: rgba(36, 36, 36, .9);
	text-transform: uppercase;
	padding: 21px 24px;
	margin:  56px 0 0;
	text-align: center;
}

.specials_item img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	transition: transform .3s, opacity .3s;
}

.specials_item:hover img {
	transform: scale(1.2, 1.2);
	opacity: .2;
}

/* ====SPECIALS==== */

.catalogue_title {
	overflow: hidden;
	padding: 30px 0;
}

.catalogue_title h3 {
	color: #242424;
	float: left;
	margin: 0;
}

.catalogue_title .showall {
	font-size: 14px;
	color: #bcb5a7;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 8px 19px;
	border: 1px solid #bcb5a7;
	float: right;
	transition: color .2s, background-color .2s;
}

.catalogue_title .showall:hover {
	background-color: #bcb5a7;
	color: #fff;
}

.catalogue_row {
	overflow: hidden;
}

.catalogue_item {
	display: block;
	float: left;
	width: 300px;
	margin-left: 30px; 
	background-color: #fff;
	min-height: 270px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.catalogue_label {
	width: 68px;
	height: 68px;
	position: absolute;
	top: 0;
	right: 10px;
	font-weight: 700;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}

.catalogue_label.label_sale {
	background-color: #242424;
	line-height: 68px;
} 

.catalogue_label.label_out {
	background-color: #f27e4b;
	padding-top: 20px;
	height: 48px;
} 

.catalogue_link {
	display: block;
	width: 260px;
	min-height: 250px;
	padding: 10px 20px;
}

.catalogue_item:first-child{
	margin-left: 0;
}


.catalogue_item_title {
	background-color: #fff;
	font-size: 18px;
	color: #242424;
	height: 34px;
	position: absolute;
	z-index: 90;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ccc;
	text-align: left;
	padding: 16px 0 0 92px;

}

.catalogue_item_name {
	opacity: 1;
	height: 34px;
	position: absolute;
	bottom: 0;
	left: 92px;
	z-index: 90;
	transition: height .5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.catalogue_item_price {
	background-color: #57c5a0;
	color: #fff;
	width: 68px;
	height: 68px;
	position: absolute;
	bottom: 0;
	left: 12px;
	font-weight: 700;
	font-size: 13px;
	line-height: 68px;
	z-index: 100;
}

.catalogue_item_controls {
	position: absolute;
	z-index: 90;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 0;
	opacity: 0;
	transition: height .5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.catalogue_item:hover .catalogue_item_controls {
	height: 50px;
	opacity: 1;
}

.catalogue_item:hover .catalogue_item_name {
	height: 0;
	opacity: 0;
}

.catalogue_item_controls li {
	float: left;
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
}

.catalogue_item_controls li:first-child{
	margin-left: 92px;
}


.catalogue_item_controls .b_view {padding-top: 16px;}
.catalogue_item_controls .b_wishlist {padding-top: 8px;}
.catalogue_item_controls .b_share {padding-top: 11px;}
.catalogue_item_controls .b_buy {padding-top: 8px;}

.catalogue_item_controls li a {
	display: block;
	width: 100%;
	height: 100%;
}


.catalogue_item_controls li a:hover svg {
	fill: #57c5a0;
	transform: scale(.6, .6);
}

/* ====END SPECIALS==== */

/* ====ADDON==== */

.addon {
	border-top: 1px solid #bcb5a7;
	overflow: hidden;
	padding-top: 26px;
	margin-top: 40px;
}

.shipping, .testimonials, .blog {
	float: left;
	margin-right: 20px;
	padding: 30px 16px 10px;
	background: #dfdbd4;
	height: 145px;
}

.shipping h3, .testimonials h3, .blog h3 {
	font-weight: 700;
	font-size: 14px;
	margin: 0 0 14px 0;
}

.shipping p, .testimonials p, .blog p {
	font-size: 12px;
	margin: 0;
}

.shipping, .testimonials {
	width: 198px;
}

.blog {
	width: 428px;
	margin-right: 0;
}

.blog_item {
	margin-bottom: 14px;
}

.blog_item:last-child{
	margin-bottom: 0;
}

.blog_item h3 {
	margin: 0 0 5px 0;
}

.blog_item {
	text-decoration: none;
	display: block;
}

.blog_item_date {
	float: left;
	width: 36px;
	height: 31px;
	margin-right: 10px;
	background-color: #57c5a0;
	color: #fff;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 5px;
}

.blog_item_date span {
	font-size: 13px;
}

/* ====END ADDON==== */

/* ====PRE FOOTER==== */

.prefooter {
	background-color: #242424;
	color: #a4a4a4;
	padding: 52px 0 45px	;
	margin-top: 25px;
}

.prefooter_widget {
	float: left;
	width: 250px;
	font-size: 12px;
	margin-right: 55px;
	line-height: 18px;
}

.prefooter_widget:first-child {
	margin-left: 40px;
}

.prefooter_widget:last-child{
	margin-right: 0;
}

.prefooter_widget  h3 {
	font-size: 12px;
	color: #7d7d7d;
	margin: 0 0 16px 0;
}

.prefooter_twitt {
	font-style: italic;
}

.prefooter_flickr a {
	float: left;
	display: block;
	margin: 0 4px 4px 0;
	overflow: hidden;
	max-height: 56px;
	position: relative;
	z-index: 90;
	transition: transform .3s, box-shadow .3s;
}

.prefooter_flickr a:hover{
	z-index: 100;
	transform: matrix(1.2, 0, 0, 1.2, 0, -10);
	box-shadow: 0 10px 10px rgba(0,0,0,.6)
}

.prefooter_widget p {
	margin-bottom: 6px;
}

.prefooter_widget a {
	color: #57c5a0;
	text-decoration: none;
}

.prefooter_widget a:hover {
	text-decoration: underline;
}

.prefooter_additional {
	border-top: 1px solid #1c1c1c;
	padding-top: 35px;
	margin-top: 35px;
}

.subscribe {
	margin-left: 40px;
	float: left;
}

.subscribe input {
	background-color: #2e2e2e;
	border: none;
	color: #7d7d7d;
	padding: 11px 13px;
	font-style: 12px;
	width: 214px;
	float: left;
	margin: 0;
}

.subscribe button {
	width: 35px;
	height: 35px;
	border: 0;
	background-color: #7d7d7d;
	float: left;
	text-align: center;
	cursor: pointer;
	padding: 2px 0 0;
	transition: opacity .3s, background-color, .3s;
}

.subscribe button:hover {
	background-color: #6a6a6a;
}

.subscribe button:hover svg {
	fill: #57c5a0;
	transform: scale(1.2,1.2);
}

.social {
	float: right;
}

.social a {
	display: block;
	background-color: #2e2e2e;
	width: 36px;
	max-height: 36px;
	float: left;
	overflow: hidden;
	margin: 0 6px 0 0;
	text-align: center;
	transition: opacity .3s, background-color .3s;
}

a.b_fb {padding-top: 8px; height: 28px}
a.b_tw {padding-top: 10px; height: 26px}
a.b_gplus {padding-top: 11px; height: 25px}
a.b_linkedin {padding-top: 9px; height: 27px}
a.b_flickr {padding-top: 14px; height: 22px}

.social a:hover {
	background-color: #3c3c3c;
}

.social a:hover svg {
	fill: #57c5a0;
	transform: scale(1.2,1.2);
}

/* ====END PRE FOOTER==== */

/* ====FOOTER==== */

footer {
	font-size: 12px;
	color: #fff;
	height: 90px;
	background-color: #2e2e2e;
	overflow: hidden;
}

.copy {
	float: left;
	margin-top: 30px;
	opacity: .5;
	line-height: 18px;
}

.footer_submenu {
	float: right;
	margin-top: 40px;
}

.footer_submenu li {
	float: left;
	opacity: .5;
	margin-right: 4px;
}

.footer_submenu li:after {
	content: ' /';
}

.footer_submenu li a {
	color: #fff;
	text-decoration: none;
}

.footer_submenu li a:hover {
	text-decoration: underline;
}

.footer_submenu li:last-child:after {
	content: '';
}

/* ====END FOOTER==== */

/* ====ICONS==== */

.i_arrow {
	display: block;
	margin: 0 auto;
	width: 8px;
	height: 12px;
	fill: #2e2e2e; 
}

.i_fb {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 20px;
	fill: #7d7d7d;
}

.i_tw {
	display: block;
	margin: 0 auto;
	width: 20px;
	height: 17px;
	fill: #7d7d7d;
}

.i_gplus {
	display: block;
	margin: 0 auto;
	width: 20px;
	height: 17px;
	fill: #7d7d7d;
}

.i_linkedin {
	display: block;
	margin: 0 auto;
	width: 18px;
	height: 20px;
	fill: #7d7d7d;
}

.i_flickr {
	display: block;
	margin: 0 auto;
	width: 20px;
	height: 8px;
	fill: #7d7d7d;
}

.i_view {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 20px;
	fill: #6e6e6e;
	transform: scale(0.5,0.5);
}

.i_wishlist {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	fill: #6e6e6e;
	transform: scale(0.5,0.5);
}

.i_share {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 26px;
	fill: #6e6e6e;
	transform: scale(0.5,0.5);
}

.i_buy {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 30px;
	fill: #6e6e6e;
	transform: scale(0.5,0.5);
}

.i_emptycart {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	fill: #6e6e6e;
	transform: scale(0.5,0.5);
}

.i_search {
	display: block;
	margin: 0 auto;
	width: 28px;
	height: 28px;
	fill: #6e6e6e;
	transform: scale(0.5,0.5);
}

svg {
	transition: opacity .3s, transform .3s, fill .3s;
}
svg:hover {
	fill: #57c5a0;
}

/* ==== END ICONS==== */

